body {
    background: #333;
}

.header {
    padding-bottom: 5px;
    color: #ffffff;
    font-family: sans-serif;
}

.grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 30px);
    padding: 20px;
    gap: 5px;
    border: 1px solid #ccc;
    background: #222;
}

.cell {
    height: 30px;
}

.enemy,
.player {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.enemy {
    background: #f31414;
}

.player {
    background: #14c6f3;
}